In [2]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv('healthcare_dataset2.csv')
df

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328.0,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265.0,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205.0,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450.0,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458.0,Urgent,2022-10-09,Penicillin,Abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6927,jaCOB gaTeS,68,Female,O+,Arthritis,2021-11-21,Tamara Mendoza,Newman Ltd,UnitedHealthcare,1120.362056,340.0,Emergency,2021-12-01,Penicillin,Normal
6928,cLAyton RYAn,67,Male,B+,Obesity,2022-11-13,Amber Gonzalez,Brown Group,Cigna,27544.724642,459.0,Urgent,2022-11-22,Paracetamol,Inconclusive
6929,reGINA wEbb,51,Male,O+,Obesity,2023-01-17,Misty Nguyen,Thompson Group,Blue Cross,2757.368263,386.0,Urgent,2023-02-13,Penicillin,Normal
6930,aRThUR PortER,42,Male,AB-,Hypertension,2022-05-25,Diana Johnson,Ayers-Bowers,UnitedHealthcare,10487.865998,184.0,Elective,2022-06-02,Paracetamol,Normal
6931,dANiel bROokS,32,Female,A-,Cancer,2019-06-11,Christina Schmidt,Peterson-Hodges,UnitedHealthcare,29685.403044,NaN,NaN,NaN,NaN,NaN

In [18]:
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328.0,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265.0,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205.0,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450.0,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458.0,Urgent,2022-10-09,Penicillin,Abnormal

In [20]:
df.shape

(6932, 15)

In [22]:
df.isnull().sum()

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           1
Admission Type        1
Discharge Date        1
Medication            1
Test Results          1
dtype: int64

In [24]:
df.drop_duplicates(inplace=True)

In [26]:
df.describe()

               Age  Billing Amount  Room Number
count  6932.000000     6932.000000  6931.000000
mean     51.898009    25617.393527   299.347280
std      19.766480    14165.407943   115.485346
min      18.000000    -1310.272895   101.000000
25%      35.000000    13350.827324   201.000000
50%      52.000000    25724.602718   302.000000
75%      69.000000    37739.926830   396.000000
max      85.000000    52271.663747   500.000000

In [28]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Age,6932.0,51.898009,19.766480,18.000000,35.000000,52.000000,69.00000,85.000000
Billing Amount,6932.0,25617.393527,14165.407943,-1310.272895,13350.827324,25724.602718,37739.92683,52271.663747
Room Number,6931.0,299.347280,115.485346,101.000000,201.000000,302.000000,396.00000,500.000000

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6932 entries, 0 to 6931
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                6932 non-null   object
 1   Age                 6932 non-null   int64
 2   Gender              6932 non-null   object
 3   Blood Type          6932 non-null   object
 4   Medical Condition   6932 non-null   object
 5   Date of Admission   6932 non-null   object
 6   Doctor              6932 non-null   object
 7   Hospital            6932 non-null   object
 8   Insurance Provider  6932 non-null   object
 9   Billing Amount      6932 non-null   float64
 10  Room Number         6931 non-null   float64
 11  Admission Type      6931 non-null   object
 12  Discharge Date      6931 non-null   object
 13  Medication          6931 non-null   object
 14  Test Results        6931 non-null   object
dtypes: float64(2), int64(1), object(12)
memory usage: 812.5+ KB